<!doctype html>
<html>

<head>
    <title>Toy Grammar</title>
    <link rel="stylesheet" href= {{ url_for('static', filename = 'styles/stylesheet.css') }}>
    <link rel="icon" type="image/png" href={{ url_for('static', filename = 'img/favicon.png') }} />
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src={{ url_for('static', filename = 'rule_parser.js') }}></script>
    <script src={{ url_for('static', filename = 'page_manager.js') }}></script>
</head>

<body>

<!-- script type="text/python" src="page_manager.py"></script -->

<div id="input_sentence">
    <label id="title"><h3>Introduceți o secvență de cuvinte:</h3></label><br/>
    <input type="text" id="sequence_input" name="sequence_input" value="două proaste"/>
    <button id="sequence_submit" onclick="sendText()">Analiză morfo.</button>
</div>
<br/><br/>
<div id="tagger_div">
    <label><h3>Analiză morfologică</h3></label><br/>
</div>
<br/>
<div> <!-- grammar div -->
    <p>
        <!-- label><h3>Gramatică - Reguli</h3></label -->
        <button id="grammar_view_toggle" onclick="showHideGrammar()" class="hide_grammar_button">Ascunde Gramatică</button>
    </p>
    <div  id="grammar_edit_div">
        <p>
            Reguli Gramatică <button id="grammar_text_table_toggle" onclick="toggleGrammarTableText()">Format text</button>
        </p>
        <div id="grammar_table_div" style="display: none;">
            <table><tr>
                <td>Filtru</td>
                <td><input id="filter" oninput="onFilterInput(event)"></input/></td>
                <td><button onclick="addNewRule(event)">Regulă nouă</button></td>
            </tr></table>
            <table id="rule_table" class="editable_table">
                <tr>
                    <th class="editable_rule">Regula</th>
                    <th class="editable_score">Scor</th>
                    <th class="delete_cell"></th>
                </tr>
                <tr  class="rule_row">
                    <td class="editable_rule" contenteditable="true">NP[head=noun pers~3] -> noun:N</td>
                    <td class="editable_score" contenteditable="true">N/A</td>
                    <td class="delete_cell" onclick="deleteRule(event)">x</td>
                </tr>
                <tr style="display: none;"> <!-- the row to clone -->
                    <td class="editable_rule" contenteditable="true">undefined</td>
                    <td class="editable_score" contenteditable="true">N/A</td>
                    <td class="delete_cell" onclick="deleteRule(event)">x</td>
                </tr>
            </table>
        </div>
        <!-- textarea id="grammar_textarea" rows="10" cols="90" style="display: none;" -->
            <textarea id="grammar_textarea" rows="10" cols="90">
NumP[num=sg head=n] -> det:Det[Type=possessive gen=@ nr=@],  n:Num[Type=ordinal]
NumP[num=sg head=n] -> n:Num[Type=ordinal! Definiteness=yes]
NumP[head=n] ->  n:Num[Type=cardinal]
DetP[head=det] -> det:Det
DetP[head=det] -> det:Det[pos=0!] , quant:NumP[num=@ gen=@ cas=@ pos=1!]
DetP[head=quant] -> quant:NumP
DetP[head=quant] -> quant:NumP[pos=0!] , de:P[lemma=de! pos=1!]
DetP += dadj:Adj[num=@ gen=@ cas=@ pos=1!]
NP[head=noun pers~3] -> noun:N
NP[head=pron] -> pron:Pron[Pronoun_Form=strong!]
NP[head=num] -> num:NumP
NP[has_det~T] += det:DetP[nr=@ cas=@ gen=@ pos=0!]
NP += adj:Adj[cas=@ gen=@ nr=@]
NP += comp:PP
NP += idnum:NumP[gen=@ pos=1!]
PP[head=prep] -> prep:P[pos=0!] , noun:NP[cas=@]
VP[head=verb] -> verb:V
VP[head=aux] -> aux:V[Type=auxiliary pos=0] , part:V[VForm=participle]
VP += clitic:Pron[Pronoun_Form=weak!]
VP += subj:NP[nr=@ pers=@ cas=Nom]
VP += dobj:NP[cas=Acc]
VP += iobj:NP[cas==Dat!]
VP += pcomp*:PP
VP += adv*:Adv
SP[head=vp] -> part:Part[Type=Subj! pos=0!] , vp:VP[mod=Subj]
VP += dobj:SP
    </textarea>
    </div>
</div>
<br/>
<div id="parse_div">
    <button id="parse_button" onclick="onParse()">Analiză Sintactică</button>
</div>
<br/><br/>
<div id="cyk_table_div">
    <label><h3>Tabel CYK<br/>(Analize alternative și parțiale)</h3></label>
</div>
<br/><br/>
<div id="tree_div">
    <label><h3>Arbore Sintactic</h3></label>
    <br/>
</div>
<div id='tree_div_bottom'><br/></div>

<script>
    $('.editable_rule').on('keydown focusout', finishedEditingLine)
    $('.editable_score').on('keydown focusout', finishedEditingLine)
    toggleGrammarTableText()
    showHideGrammar()
</script>

</body>
</html>